#logo {
 margin-left: 0px;
 font-size:2.5em;
 font-weight: 350;  
 color:teal;
}   
    
    Button {
    background-color: rgba(200, 200, 200, 1);

}

Nav, Nav.Link {
   display: flex;
    align-content: flex-end;
    color:white;

}

.loginInfo {
    color:rgb(200,200,200)
}

#filterButton {
    margin-top:3%;
    display: flex;
    justify-content: center
}

.b {
    width:40%;
}
.searchContainer {
    display: flex;
    justify-content: center;
}

.newPostContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
