#cardImg {
    height:200px;
    width:200px;
}


.cardContainer {
    padding:2%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.detail {
    margin-top: 10%;
}

.middleSection {
    background-color: #f4f4f4;
}

.card-title {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.75rem;
}

.card-text {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}