.postHeaders {
    color: #232020;
    font-weight: 200;
    font-size:1.5em;
}

.postValue{
    color: #3a3535;
    font-weight: 400;
    font-size:1.2em;

}

.modal-header {
    background-color: #343a40 !important;
}

.modal-header .close {
    color: white;
}

.modal-title {
    color: white;
    font-weight: 300;
}

.modal-body {
    background-color: #f4f4f4;
}